ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #2a2727;
  }
  
  .active {
    background-color: #000000;
  }
  .active:hover {
        background-color: #2a2727;
  }







  body {
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 50%, rgba(0,0,0,1) 100%);
  }


  .ss {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: xx-large;
    text-decoration: solid;
  }